@charset "utf-8";
body{ color:#333; }
/* CSS Document font-family: "微软雅黑";*/
.app_background {
	background-color: #DCE6F5;
}
.app_header {
	width: 100%;
	height: 44px;
	background: #3367D6;
	position: fixed;
	top: 0;
	z-index: 10000;
}

.app_content {
	padding-top: 44px;
}
.app_footer {	
}
.app_content {
	height: 100%;
}
.app_head_title {
	color: #FFFFFF;
	height: 44px;
	line-height: 44px;
	text-align: center;
}

.app_head_back {
	height: 24px;
	margin: 0px;
	padding: 5px;
	border-radius: 50%;
	margin: 5px;
	float: left;
}

.app_head_right {
	height: 24px;
	width: 24px;
	padding: 10px;
	float: right;
}

.head_right{
	float:right;
	margin:0px 5px;
	padding:0px 5px;
	cursor:pointer;
}

/*主界面*/
.main_body{ background:#f9f9f9; margin:0px; padding:0px;}
.main_div_header{ width:100%; height:100%;  margin:0 auto; text-align:center; border:0px; /*border-bottom:4px solid #F90;*/ padding:0px; margin:0px;}

/*主界面内容*/
.main_div{ width:95%; float:left; margin:10px;}

.main_div_content{ width:100%; float:left;}

.main_menu{background:#FFF; /*border-top:1px solid #ccc; border-bottom:1px solid #ccc;*/ margin-top:10px;}

.menu_title{ font-size:15px; border-bottom:1px solid #ccc; height:35px; line-height:35px; padding-left:5px; font-weight:bold;}

.menu_title span{height:33px; line-height:33px; display:block; width:80px; margin-left:15px; /*color:#039;border:0px;*/  text-align:center; float:left;}

.menu_title img{ display:block; float:left; margin-left:15px; margin-top:13px;}

.menu_title_span1{ border-bottom:3px solid #C00; color:#C00;}

.menu_title_span2{  border-bottom:3px solid #039; color:#039;}

.menu_title_span3{  border-bottom:3px solid  #060;  color:#060;}

.menu_title_span4{  border-bottom:3px solid #d55602; color:#d55602;}

.qlink{ display:block; width:33%; border:0px; text-align:center; float:left; color:#333; padding:10px 0px 15px 0px;font-size:14px;}

.qlink1{display:block; width:33%; border:0px; text-align:center; float:left; color:#333; padding:10px 0px 15px 0px;font-size:14px;}




.througth_content_item {
	padding: 15px;
	background: #ffffff;
	font-size: 14px;
	word-wrap: break-word
}

.ship_work_company_item {
	padding: 15px;
	border: 1px solid #ffffff;
	border-radius: 5px;
	background: #ffffff;
	font-size: 14px;
	word-wrap: break-word
}

.list_item_detail_column_title {
	background: #4982D7;
	color: white;
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
	padding-right: 5px;
}

.list_item_detail_column_value {
	background: #EFEFF4;
	text-align: left;
	word-wrap: break-word;
	word-break: break-all;
	padding-left: 3px;
}

.list_item_column_title {
	color: gray;
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
}

.list_item_next_title {
	color: gray;
	text-align: right;
}

.list_item_column_value {
	color: black;
	text-align: left;
	word-wrap: break-word;
	word-break: break-all;
}

.column_value {
	text-align: left;
	word-wrap: break-word;
	word-break: break-all;
}

.column_title {
	color: gray;
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
}

.process-bar {
	width: 100px;
	display: inline-block;
	*zoom: 1;
}

.pb-wrapper {
	border: 1px solid gray;
	border-style: solid none;
	position: relative;
	background: #cfd0d2;
}

.pb-container {
	border: 1px solid gray;
	border-style: none solid;
	height: 12px;
	position: relative;
	left: -1px;
	margin-right: -2px;
	font: 1px/0 arial;
	padding: 1px;
}

.pb-highlight {
	position: absolute;
	left: 0;
	top: 0;
	_top: 1px;
	width: 100%;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	height: 6px;
	background: white;
	font-size: 1px;
	line-height: 0;
	z-index: 1
}

.pb-text {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	font: 10px/12px arial;
}

.pb-value {
	height: 100%;
	width: 50%;
	background: #19d73d;
}

.pb-text {
	color: black;
	font: 10px/12px arial
}
/* -- 以下是重写的皮肤 -- */
/* green */
.skin-green .pb-wrapper {
	border-color: #666;
	border-top-color: #628c2d;
}

.skin-green .pb-container {
	border-color: #666;
	border-left-color: #628c2d;
}

.skin-green .pb-text {
	color: black
}
/* blue */
.skin-blue .pb-wrapper {
	border-color: #0e7c78;
	border-top-color: #41beb9;
}

.skin-blue .pb-container {
	border-color: #0e7c78;
	border-left-color: #41beb9;
}

.skin-blue .pb-text {
	color: white
}

.skin-blue .pb-value {
	background: #159b96;
}
/* red */
.skin-red .pb-wrapper {
	border-color: #8e1411;
	border-top-color: #cb3d3a;
}

.skin-red .pb-container {
	border-color: #8e1411;
	border-left-color: #cb3d3a;
}

.skin-red .pb-text {
	color: #470200;
}

.skin-red .pb-value {
	background: #d70500
}
/* orange */
.skin-orange .pb-wrapper, .skin-orange .pb-container {
	border-color: #d55110;
}

.skin-orange .pb-text {
	color: #250f00;
}

.skin-orange .pb-value {
	background: #d75a00;
}
/* purple */
.skin-purple .pb-wrapper, .skin-purple .pb-container {
	border-color: #a90561;
}

.skin-purple .pb-text {
	color: #720040;
}

.skin-purple .pb-value {
	background: #9d118e
}
/* black */
.skin-black .pb-wrapper, .skin-black .pb-container {
	border-color: black
}

.skin-black .pb-text {
	color: gray;
}

.skin-black .pb-value {
	background: #111111;
}
/* 分割线样式 */
.hua-li-de-fen-ge-xian {
	border-bottom: 2px dashed #eee;
	height: 1px;
	font-size: 1px;
	margin: 5px 0
}