<!DOCTYPE HTML>
<html
	lang="zh-CN"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
<meta http-equiv="pragma"/>
<meta http-equiv="cache-control" content="no-cache"/>
<meta http-equiv="expires" content="0"/>  
<meta name="viewport" content="width=device-width,minimum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>广州港集装箱物流信息平台</title>
<link rel="stylesheet" th:href="@{/wx/css/weui.css}"/>
<link rel="stylesheet" th:href="@{/wx/css/weui.min.css}"/>
<link rel="stylesheet" th:href="@{/wx/css/jquery-weui.min.css}"/>
<link rel="stylesheet" th:href="@{/wx/css/dghuadong.css}"/>
<link href="/wx/css/font-awesome.min.css" rel="stylesheet"/>
<script th:src="@{/wx/js/jquery.min.js}"></script>
<script th:src="@{/wx/js/jquery-weui.js}"></script>
<script th:src="@{/wx/js/jquery.json-2.4.js}"></script>
<script th:src="@{/wx/js/AjaxUtil.js}"></script>
<script th:src="@{/wx/js/HdQueryParams.js}"></script>
<script th:src="@{/wx/js/swiper.js}"></script>
<script th:src="@{/wx/js/wxutils.js}"></script>
<script th:src="@{/js/hdUtils/hdUtils.js}"></script>
</head>
<body >
<div th:include="this :: content">
	内容展示区
</div>
</body>
</html>
